* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d1f2eb;
    margin: 20px;
}

h2, td {
    color: #749e9b;
}

button {
    background-color: #2980b9;
    border: none;
    border-radius: 8px;
    height: 28px;
    width: 120px;
}

table {
    margin: 20px 0px;
}